.catalog-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:25px;
  margin-bottom:70px;
}

.section-title{
  text-align:center;
  font-size:2.2rem;
  margin-bottom:40px;
  margin-top:60px;
}


/* =========================
   NOTEBOOK / TABLET GRANDE
========================= */

@media(max-width:1200px){

  .catalog-grid{
    grid-template-columns:repeat(3,1fr);
  }

}

/* =========================
   TABLET
========================= */

@media(max-width:992px){

  .catalog-grid{
    grid-template-columns:repeat(2,1fr);
    gap:20px;
  }

  .section-title{
    font-size:2rem;
  }

}

/* =========================
   MOBILE
========================= */

@media(max-width:768px){

  .catalog-grid{
    grid-template-columns:repeat(2,1fr);
    gap:15px;
  }

  .section-title{
    font-size:1.8rem;
    margin-top:40px;
    margin-bottom:25px;
  }

}

/* =========================
   CELULAR PEQUEÑO
========================= */

@media(max-width:480px){

  .catalog-grid{
    grid-template-columns:1fr;
  }

  .section-title{
    font-size:1.5rem;
  }

}