.categories{
  background:white;
}

.section-title{
  text-align:center;
  font-size:2.5rem;
  margin-bottom:50px;
}

.categories-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}

.category-card{
  position:relative;
  overflow:hidden;
  border-radius:20px;
  cursor:pointer;
  height:350px;
}

.category-card img{
  width:100%;
  height:100%;
  object-fit:cover;
  transition:0.4s;
}

.category-card:hover img{
  transform:scale(1.08);
}

.category-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.35);

  display:flex;
  align-items:end;

  padding:25px;
}

.category-overlay h3{
  color:white;
  font-size:1.7rem;
  font-weight:600;
}