.floating-whatsapp{
  position:fixed;
  right:25px;
  bottom:25px;

  width:65px;
  height:65px;

  border-radius:50%;

  background:#25D366;
  color:white;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:30px;

  z-index:9999;

  box-shadow:0 5px 15px rgba(0,0,0,.2);

  transition:.3s;
}

.floating-whatsapp:hover{
  transform:scale(1.1);
}