.brands{
  padding: 80px 0;
  text-align:center;
}

.brands-grid{
  margin-top:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:40px;
  flex-wrap:wrap;
}

.brand-logo-item{
  height:80px;
  object-fit:contain;
  transition:.3s;
  animation:float 4s ease-in-out infinite;
}

.brand-logo-item:hover{
  transform:scale(1.08);
}

@keyframes float{
  0%,100%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(-10px);
  }
}