.about{
  background:white;
}

.about-content{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:50px;
  align-items:center;
}

.about-text h3{
  font-size:2rem;
  margin-bottom:20px;
}

.about-text p{
  margin-bottom:20px;
  line-height:1.7;
  color:#555;
}

.about-image img{
  width:100%;
  border-radius:20px;
}

/* TABLET */

@media(max-width:992px){

  .about-content{
    gap:30px;
  }

}

/* CELULAR */

@media(max-width:768px){

  .about-content{
    grid-template-columns:1fr;
  }

  .about-text{
    text-align:center;
  }

  .about-text h3{
    font-size:1.7rem;
  }

  .about-text p{
    font-size:.95rem;
  }

  .about-image{
    order:-1;
  }

}