.filters{
  display:flex;
  justify-content:center;
  align-items:center;

  gap:12px;

  flex-wrap:wrap;

  margin-bottom:35px;
}

.filters button{

  padding:12px 20px;

  border-radius:50px;

  border:1px solid #ddd;

  background:white;

  font-size:.95rem;

  font-weight:500;

  cursor:pointer;

  transition:.3s;
}

.filters button:hover{
  border-color:#111;
  transform:translateY(-2px);
}

.filters button.active{

  background:#111;

  color:white;

  border-color:#111;
}

/* TABLET */

@media(max-width:768px){

  .filters{
    gap:8px;
  }

  .filters button{

    padding:10px 16px;

    font-size:.9rem;
  }

}

/* CELULAR */

@media(max-width:480px){

  .filters{
    justify-content:flex-start;

    overflow-x:auto;

    flex-wrap:nowrap;

    padding-bottom:5px;

    scrollbar-width:none;
  }

  .filters::-webkit-scrollbar{
    display:none;
  }

  .filters button{
    flex-shrink:0;
  }

}
/* MOBILE SELECT */

.mobile-filters{
  display:none;
}

.mobile-filters select{

  width:100%;

  padding:12px;

  border:1px solid #ddd;

  border-radius:10px;

  background:white;

  font-size:1rem;
}

/* TABLET Y CELULAR */

@media(max-width:768px){

  .desktop-filters{
    display:none;
  }

  .mobile-filters{
    display:block;
    margin-bottom:20px;
  }

}